.img-box {
    height: 150px;
    float: left;
    width: 150px;
    border:  1px solid black;
}
body {
    background-image: url("../images/wavy-dots.png");
    background-size: 100%;
    background-repeat: repeat;
    color: black;
  }
  * {
    box-sizing: border-box;
  }
  img-box {
    height: 150px;
    width: 150px;
    float: left;
    width: 150px;
    border:  1px solid black;
  }
  .btn {
    margin: 3px;
    background-color: #034079;
    border-color: #fff;
  }
  .gifDiv {
    float: left;
    margin: 3px;
  }
  .btns-wrap {
    background-color: #ffffff;
  
    padding: 4px 2px;
    margin: 4px 4px;
  }
  .gif-con {
    text-align: center;
    margin-left: 6%;
  }
  
  .sub-title {
    text-align: center;
  }
  
  h3 {
    text-align: center;
    margin-top: 0px;
  }
  
  #myGifForm {
    text-align: center;
    padding-bottom: 20px;
  }
  #gifButtons {
    text-align: center;
  }
  div#footer {
    clear: both;
    margin-top: 40px;
    position: center;
    bottom: 0;
    left: 0;
    text-align: center;
  }